<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">KHANG'S MOBILE GAMING CENTER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
{{!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> --}}
{{!--       <ul class="nav navbar-nav"> --}}
{{!--         <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> --}}
{{!--         <li><a href="#">Link</a></li> --}}
{{!--         <li class="dropdown"> --}}
{{!--           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> --}}
{{!--           <ul class="dropdown-menu"> --}}
{{!--             <li><a href="#">Action</a></li> --}}
{{!--             <li><a href="#">Another action</a></li> --}}
{{!--             <li><a href="#">Something else here</a></li> --}}
{{!--             <li role="separator" class="divider"></li> --}}
{{!--             <li><a href="#">Separated link</a></li> --}}
{{!--             <li role="separator" class="divider"></li> --}}
{{!--             <li><a href="#">One more separated link</a></li> --}}
{{!--           </ul> --}}
{{!--         </li> --}}
{{!--       </ul> --}}
<!--      <form class="navbar-form navbar-left">-->
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" placeholder="Product...">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-default">Search</button>-->
<!--      </form>-->
      <ul class="nav navbar-nav navbar-right">
        {{# if login }}
        <li><a href="/user/insert"><i class="fa fa-plus" aria-hidden="true"></i> Add product</a></li>
        {{/if}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
{{!--             <li><a href="#">Action</a></li> --}}
{{!--             <li><a href="#">Another action</a></li> --}}
            {{# if login }}
            <li><a href="/user/profile">My profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user/signout"><i class="fa fa-power-off" aria-hidden="true"></i> Sign out</a></li>
            {{else}}
            <li><a href="/user/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a></li>
            <li><a href="/user/signin"><i class="fa fa-id-card" aria-hidden="true"></i> Sign in</a></li>
            {{/if}}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>